.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ad-chart-cont {
  width: 100%;
}

.ad-chart {
  text-align: left;
  min-width: 500px;
}
.ad-chart #ad-names {
  float: left;
}
.ad-chart #ad-metrics {
  vertical-align: top;
  white-space: nowrap;
  overflow-x: scroll;
}
.ad-chart  .column {
  display: inline-block;
  list-style: none;
  padding: 0px;
  text-align: center;
  border-top: 1px solid black;
}
.ad-chart  .column li {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

#ad-metrics > ul.column:last-child {
  border-right: 1px solid black;
}

.ad-chart  .column .col-header {
  font-style: bold;
}
